body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading{
  font-size: 3rem;
  margin: 6vh;
  border: 7px dashed rgb(1,17,160);
  border-radius: 20px;
  padding: 1vh 5vw;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}
.card{
  width: 400px;
  height: max-content;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
  
}
.card img{
  align-items: center;
}
.read-more{
  color: rgb(92, 179, 179);
  cursor: pointer;
}
.image{
  width: 380px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.tour-info{
  margin: 20px 5px;
}
.tour-price{
  color: rgb(51, 175, 97);
  font-size: 1.3rem;
}
.tour-details{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.tour-name{
  font-size: 1.5rem;
}
.btn{
  margin-top: 20px;
  padding: 10px 80px;
  border: 1px solid rgb(80, 5, 5);
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #b4161b21;
}
.btn:hover{
  background-color: red;
  color: white;
  border: 2px solid black;
  transition: all 0.2s;
}
.refresh{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.9rem;
  height: 100vh;
}
.re-btn{
  border: 0px;
  background-color: transparent;
  font-size: 25px;
  padding: 10px 5px;
  cursor: pointer;
  color: blueviolet;
}
.re-btn:hover{
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(70, 72, 71);
  color: red;
  padding: 15px 30px;
  transition: all 0.14s;
}